build/
.github
.vscode
*.o
a.out
include/crow
crow.h
/tests/_deps
/tests/CMakeFiles
/tests/lib
/tests/test_data
/tests/bin
.DS_Store
*.cmake
data/
node_modules
package-lock.json
CMakeCache.txt
Makefile
