body{
    background-color: #21104D;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

#dino-img {
    width: 70%;
    height: 75%;
  }
  
.documents-container{
    text-align: left;
    color:white;
}

