.dropdown {
    height:2rem;
}

.dropdown-menu {
    width:2rem;
    text-align:center ;
    color: #fff;
    background: #2f1087;
    position: relative;
}

.dropdown-menu {
    color: #a85aa4;
    background: #fff;
}