.TextBoxColl {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: #A85AA4;
    border: 1px solid #cdcdcd;
    border-color: #A85AA4;
    background-color: #2F1087;
    font-size: 16px;
}