/* page format */
.App {
  text-align: center;
}

.body {
  background-color: #21104D;
  color: #21104D;
}

.container {
  display: flex;
  flex-direction: row;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #21104D;
  color: #fff;
  text-align: center;
  border: 4px solid #2F1087
}

.bottombar {
  height: 90%;
  padding: 20px;
}

.sidebar {
  position: fixed;
  top: 88px;
  left: 0;
  width: 15%;
  height: calc(100% - 50px);
  background-color: #21104D;
  color: #ffffff;
  border: 4px solid #2F1087
}

.main-content {
  margin-top: 80px;
  margin-left: 200px;
  width: 85%;
  height: 90%;
  padding: 20px;
  background-color: #fff;
}


/* table content */
table {
  width: 300%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #21104D;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #2F1087;
  border-top: 2px solid #2F1087;
  color: #ffffff;
}

th:first-child,
td:first-child {
  border-left: 2px solid #2F1087;
}

th:last-child,
td:last-child {
  border-right: 2px solid #2F1087;
}

tr:hover {
  background-color: #21104D;
}
